body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    height: 100vh;
    margin: 0;
}

.Language {
    background-color: #0080e9;
    color: #ffffff;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
    text-align: center;
}

.Language label {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
}

.lang-btn {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    background-color: transparent;
}

.lang-btn.active {
    background-color: #69eebb;
    color: #fff;
}

.lang-btn:not(.active):hover {
    background-color: #69eebb;
    color: #fff;
}

.lang-btn:not(.active):focus {
    outline: none;
}

.Title-Logo{
    width: 100%;
}

.textarea-container-Image {
    width: 100%;
    padding-left: 10%;
    flex: 0;
}

.info-container-Title {
    display: flex;
    width: 100%;
    flex: 1;
}

.Title-container {
    width: 100%;
}

.icon {
    width: 150px; 
    height: auto;
    margin-top: 10px;
}

.Title { 
    font-size: 70px;
    text-align: left;
    padding-left: 13%;
    color: #69eebb;
}

.container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 70%;
    margin: 0 auto; 
}

.info-container {
    display: flex;
    justify-content: space-between; 
}

.titleArea {
    font-size: 20px;
    padding-bottom: 10px;
}

.textarea-container {
    flex: 1; 
    padding-right: 10px; 
}

.controls-container {
    flex: 1; 
    display: flex;
    flex-direction: column;
}

.control-row {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

textarea {
    width: 110%; 
    height: 350px;
    border-radius: 5px;
    border: 2px solid #ccc;
    font-size: 16px;
    resize: none;
    margin-bottom: 10px;
}

label, select, button {
    margin: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    background-color: #007bff; 
    color: white; 
    border: none; 
    transition: transform 0.2s ease-in-out; 
}

button:hover {
    transform: scale(1.1); 
}

button:disabled {
    background-color: #b1aeae;
    cursor: not-allowed;
    color: #999;
}

#startBtn {
    background-color: #28a745;
}

#pauseBtn {
    background-color: #ffc107; 
}

#resetBtn {
    background-color: #dc3545;
}

#languageSelect {
    margin-top: 10px;
}

footer {
    background-color: #0080e9;
    padding: 35px;
    text-align: center;
    margin-top: 6px;
    border-top: 1px solid #ccc;
    font-size: 14px;
    color: #ffffff;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {

    .info-container-Title {
        flex-direction: column;
        align-items: center;
    }

    .textarea-container-Image {
        width: 100px;
        padding-left: 15%;
    }

    .Title-container {
        text-align: center;
    }

    .Title {
        font-size: 40px;
        padding-left: 0%;
        text-align: center;
    }

    .container {
        width: 90%;
        padding: 10px;
    }

    .icon {
        display: block;
        width: 60px;
    }

    textarea {
        width: 100%;
        height: 200px;
    }

    .info-container {
        flex-direction: column;
        align-items: center;
    }

    .textarea-container {
        width: 100%;
    }

    .controls-container {
        width: 100%;
    }

    .control-row {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .lang-btn {
        padding: 8px;
        font-size: 12px;
    }

    button {
        font-size: 12px;
        padding: 6px 12px;
    }

    .Language {
        padding: 10px;
    }

    footer {
        padding: 20px;
    }
}

@media (max-width: 480px) {
    .info-container-Title{
        padding-left: 10%;
        width: 100%;
    }

    .Title {
        font-size: 30px;
        padding-left: 0%;
    }

    .container {
        margin-left: 0px;
        width: 74%;
        padding: 5px;
    }

    .icon {
        width: 60px;
        margin-top: 50px;
        padding-left: 2%;
    }

    textarea {
        width: 100%;
        height: 150px;
    }

    .info-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .textarea-container {
        width: 100%;
    }

    .controls-container {
        width: 100%;
    }

    .control-row {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .lang-btn {
        padding: 6px;
        font-size: 10px;
    }

    button {
        font-size: 10px;
        padding: 4px 8px;
    }

    .Language {
        width: 75%;
        padding: 5px;
    }

    footer {
        width: 74%;
        padding: 10px;
    }
}
